@font-face {
  font-family: Lumos;
  src: url("./assets/fonts/Lumoslatino-XA8K.ttf");
}

body {
  background-image: url("./assets/sortinghatbackground.jpg");
  object-fit: cover;
}

#introContainer {
  width: 90vw;
  height: clamp(320px, 40vh, 520px);
  margin: 7vh auto 3vh;
}

#cardContainer {
  width: 90vw;
  height: clamp(360px, 50vh, 700px);
  margin: 2vh auto 0;
  border: solid black 1px;
}

#introCard h1 {
  font-size: 300%;
  font-family: Lumos;
  text-align: center;
  color: beige;
  text-shadow: 0px 0px 10px rgb(128, 128, 111);
}

#introCard p {
  color: rgb(219, 219, 198);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  text-shadow: 0px 0px 10px rgb(128, 128, 111);
}
